.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    padding: 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header header header header"
      "sidebar sidebar nav nav nav nav nav ads ads"
      "sidebar sidebar main main main main main ads ads"
      "sidebar sidebar main main main main main ads ads"
      "sidebar sidebar main main main main main ads ads"
      "sidebar sidebar main main main main main ads ads"
      "sidebar sidebar main main main main main ads ads"
      "footer footer footer footer footer footer footer footer footer";
  }
  
  .header { grid-area: header;
border: 2px solid brown; 
padding-left: 10px;}
  
  .nav { grid-area: nav;
    border: 2px solid brown;
    padding-left: 10px; }
  
  .main { grid-area: main;
    border: 2px solid brown; 
    padding-left: 10px;}
  
  .sidebar { grid-area: sidebar; 
    border: 2px solid brown;
    padding-left: 10px;}
  
  .ads { grid-area: ads; 
    border: 2px solid brown;
    padding-left: 10px;}
  
  .footer { grid-area: footer; 
    border: 2px solid brown;
    padding-left: 10px;}
  